.bg_image1{
    background-image: url("../public/bg-1.png");
}
.bg_image2{
    background-image: url("../public/bg-2.png");
}
.bg_image3{
    background-image: url("../public/bg-3.png");
}
.bg_image4{
    background-image: url("../public/bg-4.png");
}